<!DOCTYPE html>
<html>
<head>
  <title>L10N Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">L10N Dashboard</a>
				<ul class="nav">
					<li><%= link_to "All Projects", projects_path %></li>
					<li class="dropdown">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Run Engineering Tool <b class="caret"></b></a>
              			<ul class="dropdown-menu">
                			<li><a href="#">Create TMX</a></li>
                			<li><a href="#">Create Glossary</a></li>
                			<li><a href="#">Prepare TM for review</a></li>
               				<li class="divider"></li>
               				<li><a href="#">Get files from Perforce</a></li>
                			<li><a href="#">Checkin file to perforce</a></li>
                			<li><a href="#">Doing something else</a></li>
              			</ul>
            		</li>
				</ul>
				<form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2 GINGER_SOFATWARE_control" placeholder="Search Project" spellcheck="false" ginger_sofatware_editor="true" style="background-attachment: local; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAASCAYAAADczdVTAAAAaElEQVRoQ+3SMQ0AAAzDsJU/6cHI4xKoFHlnCoQFFn67VuAAhCAtAGCa3zmADKQFAEzzOweQgbQAgGl+5wAykBYAMM3vHEAG0gIApvmdA8hAWgDANL9zABlICwCY5ncOIANpAQDT/M4f2UwAEx3XHE4AAAAASUVORK5CYII=); position: relative; font-size: 13px; line-height: 13px; background-position: 10px 12px; background-repeat: no-repeat no-repeat;">
          </form>
			</div>
		</div>
	</div>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">×</button>
				<%= message %>
			</div>
		<% end %>
		    
		<%= yield %>
	</div>
</body>
</html>

